<%= form_with(model: [@category, @product, @list], local: true) do |form| %>
<div class="modal-body">
  
  <div class="form-group">
    <%= form.label 'Título categoría' %>
    <%= form.text_field :title, class:'form-control', placeholder:'Título para cada categoría...' %>
    <small class="form-text text-muted">Es necesario de 4 a 20 carácteres.</small>
  </div>        
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
  <%= form.submit 'Publicar', class:'btn btn-primary' %>
  
</div>
<% end %>
  