<div class="card text-dark shadow-sm mb-3">
    <%= image_tag @pop.avatar.thumb.url, class:'card-img-top' %>
    <% if @pop.destacado == true %>
    <div class="notify-badge">
    <i class="fas fa-star estrellita"></i>
    </div>
    <% end %>
    <div class="card-body text-center">
    <h6 class="card-title">
        <%= @pop.title %>
    </h6>
    <p class="card-subtitle text-secondary">Precio $<%= number_with_delimiter(@pop.precio, :delimiter => ".") %></p>
    <small class="card-text"><%= @pop.descripcion.truncate_words(15) %></small>
    </div>
    
</div>
