<div class="carousel-item active">
    <%= image_tag @article.image.url(:thumb), class:'d-block w-100' %>
    
    <div class="carousel-caption d-none d-md-block">
        <%= @article.title %>
    </div>
  </div>