<nav class="navbar navbar-dark bg-primary">
    <ul class="navbar-nav">
        <% @articles.each do |article| %>
        <li class="nav-item">
            <%= link_to article.title, article, class:'nav-link' %>
        </li>
        <% end %>
    </ul>
    
</nav>