<% if product.pub_destacada == true %>
<% if product.view == true %>
<div class="col-sm-12 col-md-4">
  <figure class="figure shadow-sm bg-white rounded">
    <div class="img-contenedor">
      <%= link_to (image_tag product.img.thumb.url, class:'card-img-top'), product, class:'stretched-link' %>
    </div>
    <figcaption class="figure-caption border p-2">
      <h5 class="m-2"><%= product.title %></h5>
      <p class="card-text m-2"><%= product.info %></p>
      <% if user_signed_in? && current_user = @admin %>
      <%= link_to 'Destroy', product, class:'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </figcaption>
  </figure>
</div>
<% end %>
<% end %>