<div class="bg-gradient-danger position-relative pb-5">
    <div class="container">

            <%= image_tag 'logo_1.svg', class:'logo_footer mx-auto d-block pt-2 mb-0' %>
            <hr>
        </div>
    <div class="container text-center text-white">

        <div class="row row-cols-3">
            <div class="col">
                <div class="fb-page" data-href="https://www.facebook.com/ConectaBuin" data-tabs="timeline" data-width="" data-height="200" data-small-header="true" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/ConectaBuin" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/ConectaBuin">Conectabuin</a></blockquote></div>
            </div>
            <div class="col">
                <h4 class="mb-3 text-light">
                    Información
                </h4>
                <p class="text-light m-0">
                   <%= link_to 'Sobre Nosotros', pages_sobrenosotros_path, class:'text-reset' %> 
                </p>
                <p class="text-light">
                    <%= link_to 'Términos y condiciones', pages_terminosycondiciones_path, class:'text-reset' %>
                </p>
            </div>
    
            <div class="col">
              <h4 class="mb-3 text-light">
                Contáctanos
              </h4>
              <a href="https://wa.me/56955248982?text=Hola me gustaría publicar mi negocio en ConectaBuin." target="_blank" class="shadow-sm btn redes btn-whatsapp"><i class="fab fa-whatsapp"></i> Whatsapp</a>

            </div>
        </div>        
    </div>
</div>