<div class="bg-danger mt-4 position-relative" style="height: 20rem;">
    <div class="container">
        <h4 class="text-center text-white pt-3">BuinPymes <small>El portal de las pymes.</small></h4>
    </div>
    <hr>
    <div class="container text-center text-white">

        <div class="row row-cols-3">
            <div class="col">
                Información
            </div>
            <div class="col">
                Redes Sociales
            </div>
            <div class="col">
                Contáctanos
            </div>
        </div>        
    </div>
        
</div>