<div class="bg-gradient-danger position-relative" style="height: 20rem;">
    <div class="container">

            <%= image_tag 'logo_1.svg', class:'logo_footer mx-auto d-block pt-2 pb-0' %>
        </div>
        <hr>
    <div class="container text-center text-white">

        <div class="row row-cols-3">
            <div class="col">
                Información
            </div>
            <div class="col">
                Redes Sociales
            </div>
            <div class="col">
                Contáctanos
            </div>
        </div>        
    </div>
        
</div>