<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
    <% @categories.each do |category| %>
       <li class="nav-item">
            <%= link_to category.name, category, class:'nav-link' %>
       </li>
    <% end %>
    <% if user_signed_in? %>
    <%= link_to 'Salir', destroy_user_session_path, method: :delete, class:'nav-link' %>
  <% else %>
    <%= link_to 'Iniciar sesión', new_user_session_path, class:'nav-link' %>
    <%= link_to 'Registrarse', new_user_registration_path, class:'nav-link' %>
  <% end %>
    </ul>
</div>
    
</nav>