

<div class="">
  <!-- <div class="row">
    <div class="col-12 col-md-4">
      <div class="jumbotron jumbotron-fluid mt-2">
        <div class="container">
          <h1 class="display-4">BuinPymes imagen</h1>
          <p class="lead">Este espacio será para colocar un banner o imagen de nuestra web</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-8">
      <div class="jumbotron mb-0 mt-2">
        <h1 class="display-4">BuinPymes</h1>
        <p class="lead">Comentar brevemente de que se trata nuestra web</p>
        <hr class="my-4">
        <p>Invitar a que se registren brevemente, dando a entender que es bueno y bonito. y necesario</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Leer más</a>
        Acá el boton llevará a nuestra politica de usuarios o algo así
      </div>
    </div>
  </div> -->

  <div style="height: 30rem;">
      <!-- <div class="widget">
        <div class="fecha">
          <p id="diaSemana" class="diaSemana"></p>
          <p id="dia" class="dia"></p>
          <p>de</p>
          <p id="mes" class="mes"></p>
          <p>del</p>
          <p id="anio" class="anio"></p>
        </div>
        <div class="reloj">
          <p id="horas" class="horas"></p>
          <p>:</p>
          <p id="minutos" class="minutos"></p>
          <p>:</p>
          <div class="cajaSegundos">
            <p id="ampm" class="ampm"></p>
            <p id="segundos" class="segundos"></p>
          </div>
        </div>
      </div> -->
  </div>

    <%= render 'partials/index' %>
      
  </div>
      
      
      