<div class="container container-sm bg-white rounded shadow-sm py-3">
    <h2>Sobre nosotros y el portal.</h2>
    <hr>
    <div class="container">

        <p>
            <b>ConectaBuin.cl</b> es un sitio web con funcionalidad social, dedicado a la publicidad de las anunciantes, donde cada usuario puede interactuar con sus posts y experiencias, y las anunciantes publicar su contenido y servicios dentro del portal, no aceptaremos cuantas duplicadas o falsas, cualquier infracción será motivo de borrado de contenido o banneo si fuese necesario, para lograr contenidos reales y fabricados por los usuarios activos, y las visitas pueden ver el contenido permitido pero no postear o comentar.
        </p>
        <p> 
            <b>ConectaBuin.cl</b> es un sitio exclusivo para mayores de 18 años, ya sean miembros, visitas o anunciantes. Al crear una cuenta aceptas tu mayoría de edad y los términos y condiciones establecidas del sitio. Crear una cuenta no tiene costo alguno asociado.
        </p>
        
        <p>
            Esta página entrega la funcionalidad de red social en donde todos los miembros podrán interactuar, comunicarse entre sí, comentar y publicar experiencias sobre las o los anunciantes, dado esto, es responsabilidad de cada miembro las opiniones que vierte en este portal, siempre y cuando sea con respeto y modales. 
        </p>
        
        <p>
            Las publicaciones son realizadas bajo la solicitud de las mismas anunciantes, ellas pueden modificar a su gusto la publicación y es su responsabilidad la información ahí expuesta, pueden compartir material fotográfico y audio visual explícito a los servicios ofrecidos, así como comentar y publicar contenido dentro del portal como cualquier usuario, tambien pueden comunicarse directamente entre usuarios para lo que estimen pertinentes.
        </p> 
        
        <p>
            <b>ConectaBuin.cl</b> es de propiedad privada y es administrado por <b><i>Esteban</i></b>, quien moderará el contenido del portal en base a las normas de reglas y censura que se encuentran dentro del mismo.
        </p>
        
        <p> 
            Le pedimos cordialmente que participe activamente en el portal, así tendremos contenido actualizado constantemente y acreditado por los mismos usuarios que visitan y conocen a las anunciantes, lo invitamos a que interactúe libremente y no viele las normas de convivencia, así todos pasaremos un rato agradable.
    </p>
    <p>
        Esperando su participación y apegándose a las normas del sitio podremos tener una comunidad agradable y seria donde podrán conocer los servicios de todas nuestras anunciantes.
    </p>
    
</div>
    <hr>
    
    <b>
        Muchas gracias por su atención, los saluda "Esteban". Buenas experiencias mis amigos y amigas.
    </b>
</div>