<div class="container container-sm bg-white rounded shadow-sm py-3">
    <h2 class="text-center">ConectaBuin, una idea loca...</h2>
    <hr>
    <div class="container text-justify">
        
        <p>
            Creamos esta página porque estábamos cansados que cuando llegan los antojos y tienes flojera, nunca encuentras un delivery a la hora y zona de reparto.
        </p>
        <p>

            Muchas veces no están todas los repartos publicadas en facebook o instagram o whatsapp repartiendo comida, o encuentras algo que te gusta, pero no llega hasta tu casa.
        </p>
        <p>

            Por ejemplo, un día nos pasó que teníamos hambre, a las 13:00hrs mas o menos, y buscando en facebook o google no encontré ningún local a esa hora, solo queríamos comer algo rico, pero nadie vendía ni un misero almuerzo. La mayoría de locales abrían después de las 3 o 4 de la tarde y no encontraba nada, al día siguiente nos enteramos que cerca de nuestro hogar SI vendían chorrillanas, pero no estaban publicados en ningún lado, tenían una página de facebook, pero no los encontramos.
        </p>
        <p>

            Por eso y más pensamos que debería haber un lugar centrado en esto, que los clientes pudieran ingresar y encontrar lo necesario donde sea y cuando sea. Que sin matarse buscando por todos lados se les entregue una solución y así ellos tienen lo que quieren y los pequeños y grandes locales aumenten sus ventas y se hagan mas conocidos.
        </p>
        <p>

            Así que si TÚ tienes un local, y quieres hacer reparto, o necesitas emprender, repartes comida, nosotros te ayudaremos a darle un empujón, solo dedícate a vender, que nosotros nos encargamos de la difusión.
        </p>
        <p>

            Por muy pequeño que sea tu negocio, podemos hacer algo, solo contáctanos que hasta completadas de barrio publicitaremos.
        </p>

        <p>
            <b>ConectaBuin.cl</b> es un sitio web con funcionalidad social, dedicado a la publicidad de los anunciantes, donde cada usuario puede interactuar, comentar o compartir información, y los anunciantes pueden publicar su contenido y servicios dentro del portal, no aceptaremos cuantas duplicadas o falsas, cualquier infracción será motivo de eliminación de contenido o banneo si fuese necesario, para lograr contenidos reales y fabricados por los usuarios activos, y las visitas pueden ver el contenido permitido pero no postear o comentar.
        </p>
        <p> 
            <b>ConectaBuin.cl</b> es un sitio exclusivo para mayores de 18 años, ya sean miembros, visitas o anunciantes. Al crear una cuenta aceptas tu mayoría de edad y los términos y condiciones establecidas del sitio. Crear una cuenta no tiene costo alguno asociado.
        </p>
        
        <p>
            Esta página entrega la funcionalidad de red social en donde todos los miembros podrán interactuar, comunicarse entre sí, comentar y publicar experiencias sobre las o los anunciantes, dado esto, es responsabilidad de cada miembro las opiniones que vierte en este portal, siempre y cuando sea con respeto y modales. 
        </p>
        
        <p>
            Las publicaciones son realizadas bajo la solicitud de los mismos anunciantes, ellos pueden modificar a su gusto la publicación y es su responsabilidad la información ahí expuesta, pueden compartir material fotográfico a los servicios ofrecidos, así como comentar y publicar contenido dentro del portal como cualquier usuario.
        </p> 
        
        <p>
            <b>ConectaBuin.cl</b> es de propiedad privada y es administrado por <b><i>Esteban</i></b>, quien moderará el contenido del portal en base a las normas de reglas y censura que se encuentran dentro del mismo.
        </p>
        
        <p> 
            Le pedimos cordialmente que participe activamente en el portal, así tendremos contenido actualizado constantemente y acreditado por los mismos usuarios que conocen o toman algún servicio de los anunciantes, lo invitamos a que interactúe libremente y no viole las normas de convivencia, así todos pasaremos un rato agradable.
    </p>
    <p>
        Esperando su participación y apegándose a las normas del sitio podremos tener una comunidad agradable y seria donde podrán conocer los servicios de todos nuestros anunciantes.
    </p>
    
</div>
    <hr>
    
    <b>
        Muchas gracias por su atención, los saluda "Esteban". Buenas experiencias mis amigos y amigas.
    </b>
</div>