/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 $primary: #1e558c;
 $secondary: #8c8c1e;
 $success: #558c1e;
 $dark: #8C1E55;
 $danger: #dc3545;
 $enable-gradients: true;
 @import "bootstrap/scss/bootstrap";
 @import "./actiontext.scss";
 


body{
  background-image: url('https://onesolutionsgroup.com/images/blog/pymestransformacion-digital-g.png');
  background-attachment: fixed;
  background-position: center;
  max-width: 100%;
}
body::before{
  opacity: 95%;
  z-index: -1;
}
body::-webkit-scrollbar{
  width: 0.5rem;
}
body::-webkit-scrollbar-track{
  background: $danger;
}
body::-webkit-scrollbar-thumb{
  background: $dark;
  border-radius: 5px;
}
a{
  text-decoration: $light;
}

h5, h6, h1, h2, h3, h4{
  color: $dark;
}
.min{
  min-height: 20rem;
}
.logo{
  max-height: 6rem;
  opacity: 100%;
}
.logo1{
  max-height: 40px;
}
.logo_footer{
  max-height: 4rem;
  opacity: 100%;
}
.fondoLogo{
  background: rgba(255, 255, 255, 80%);
  margin-left: 0;
  margin-right: 0;
}

.estrellita{
  color: yellow;
}

.notify-badge{
  position: absolute;
  top:0.5rem;
  width: auto;
  text-align: center;
  line-height: 2rem;
  font-size: 1rem;
  border-radius: 0px 1rem 1rem 0px;
  padding-left: 0.8rem;
  padding-right: 10px;
  color:white;
  opacity: 80%;
}
// para ocupar despues
.notify-badge-bt{
  position: absolute;
  top: 2.2rem;
  max-width: 9rem;
  width: auto;
  text-align: center;
  line-height: 2rem;
  font-size: 0.8rem;
  border-radius: 0px 1rem 1rem 0px;
  padding-left: 0.4rem;
  padding-right: 10px;
  color:white;
  opacity: 80%;
}


.redondaImg{
  border-radius: 50%;
}

.boton{
  width:30px;
  height:30px;
  margin: 5px;
  padding:10px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font-size:11px;
  line-height:32px;
  text-transform: uppercase;
  float:left;
}
.boton:hover{
  opacity: 0.50;
  -moz-opacity: .50;
  filter:alpha (opacity=50);
}
.boton a{
  text-decoration:none;
  padding:5px 5px 5px 0;
}

.btn {
  border-radius: 2rem;
}

.borde_comentario{
  border-radius: .5rem;
  border-color: #f2dbff;
}

.box_comentarios{
  max-height: 400px; 
  overflow-y: scroll; 
  overflow-x: hidden;
  font-size: 0.7rem;
}
.box_comentarios::-webkit-scrollbar{
  width: 0.5rem;
}
.box_comentarios::-webkit-scrollbar-track{
  background: $danger;
  border-radius: 5px;
}
.box_comentarios::-webkit-scrollbar-thumb{
  background: $dark;
  border-radius: 3px;
}
.sesiones{
  max-width: 30rem;
}
.redes {
  border-radius: 10rem;
  color: #fff;
  opacity: 100%;

}

.btn-twitter {
  background: #1da1f2;
  border-color: 1px solid transparent; 
}
.btn-twitter:link, .btn-twitter:visited {
  color: #fff;
}
.btn-twitter:active, .btn-twitter:hover {
  background: #147ec0;
  color: #fff;
}
.btn-instagram {
  background: #e1306c;
  border-color: 1px solid transparent; 
}
.btn-instagram:link, .btn-instagram:visited {
  color: #fff;
}
.btn-instagram:active, .btn-instagram:hover {
  background: #a82450;
  color: #fff;
}
.btn-whatsapp {
  background: #25d366;
  border-color: 1px solid transparent; 
}
.btn-whatsapp:link, .btn-whatsapp:visited {
  color: #fff;
}
.btn-whatsapp:active, .btn-whatsapp:hover {
  background: #1ca34e;
  color: #fff;
}
.btn-facebook {
  background: #3B5998;
  border-color: 1px solid transparent; 
}
.btn-facebook:link, .btn-facebook:visited {
  color: #fff;
}
.btn-facebook:active, .btn-facebook:hover {
  background: #263961;
  color: #fff;
}
.img-contenedor img {
  -webkit-transition:all .9s ease; /* Safari y Chrome */
  -moz-transition:all .9s ease; /* Firefox */
  -o-transition:all .9s ease; /* IE 9 */
  -ms-transition:all .9s ease; /* Opera */
  width:100%;
  }
.img-contenedor:hover img {
  -webkit-transform:scale(1.25);
  -moz-transform:scale(1.25);
  -ms-transform:scale(1.25);
  -o-transform:scale(1.25);
  transform:scale(1.25);
}
.img-contenedor {/*Ancho y altura son modificables al requerimiento de cada uno*/
  width:auto;
  height:auto;
  overflow:hidden;
}
.navbar{
  opacity: 90%;
}

.btn-search{
  border-radius: 0 5px 5px 0;
}
.input-search{
  border-radius: 10rem;
}
.text-tiny{
  font-size: 0.6rem;
}
.inp{
  max-width: 4rem;
}
