/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 $primary: #3b7ddd;
 $secondary: #6f42c1;
 $success: #28a745;
 $dark: #0066b2;
 $danger: #dc3545;

 @import "bootstrap/scss/bootstrap";

 body{
    background-color: #f0f0f0;
 }
 
 .btn-twitter {
   background: #1da1f2;
   border-radius: 5px;
   color: #fff;
   border-width: 1px;
   border-style: solid;
   border-color: #1da1f2; 
 }
 .btn-twitter:link, .btn-twitter:visited {
   color: #fff;
 }
 .btn-twitter:active, .btn-twitter:hover {
   background: #147ec0;
   color: #fff;
 }
 .btn-instagram {
   background: #e1306c;
   border-radius: 5px;
   color: #fff;
   border-width: 1px;
   border-style: solid;
   border-color: #e1306c; 
 }
 .btn-instagram:link, .btn-instagram:visited {
   color: #fff;
 }
 .btn-instagram:active, .btn-instagram:hover {
   background: #a82450;
   color: #fff;
 }
 .btn-whatsapp {
   background: #25d366;
   border-radius: 5px;
   color: #fff;
   border-width: 1px;
   border-style: solid;
   border-color: #25d366; 
 }
 .btn-whatsapp:link, .btn-whatsapp:visited {
   color: #fff;
 }
 .btn-whatsapp:active, .btn-whatsapp:hover {
   background: #1ca34e;
   color: #fff;
 }
 .btn-facebook {
   background: #3B5998;
   border-radius: 5px;
   color: #fff;
   border-width: 1px;
   border-style: solid;
   border-color: #263961; 
 }
 .btn-facebook:link, .btn-facebook:visited {
   color: #fff;
 }
 .btn-facebook:active, .btn-facebook:hover {
   background: #263961;
   color: #fff;
 }
 .img-contenedor img {
    -webkit-transition:all .9s ease; /* Safari y Chrome */
    -moz-transition:all .9s ease; /* Firefox */
    -o-transition:all .9s ease; /* IE 9 */
    -ms-transition:all .9s ease; /* Opera */
    width:100%;
    }
 .img-contenedor:hover img {
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
 }
 .img-contenedor {/*Ancho y altura son modificables al requerimiento de cada uno*/
    width:auto;
    height:auto;
    overflow:hidden;
 }
 .navbar{
    opacity: 90%;
 }