
<div class="container-md">
  <div class="mt-2 bg-white rounded">
    <h1 class="text-center p-2 text-primary">
      <%= @category.name %>
    </h1>
    <h5 class="p-2 text-primary">Publicaciones Destacadas</h5>
    <hr class="border-success">
    <div class="row p-2">
      <% @category.products.each do |product| %>
        <%= render 'partials/dest' %>
      <% end %>
    </div>
    
    <h5 class="p-2 text-primary">Publicaciones</h5>
    <hr class="border-success">
    <div class="row p-2">
      <% @category.products.each do |product| %>
      
        <%= render 'partial/pub' %>
      <% end %>
    </div>
    
    <h5 class="p-2 text-primary">Clasificados</h5>
    <hr class="border-success">
    <div class="row p-2">
      <% @category.products.each do |product| %>
        <%= render 'partials/clas' %>
      <% end %>
        </div>
  </div>
      
    </div>
      
      
      