
<h1 class="text-align-center">
  
  <%= @category.name %>
</h1>


<%= render @category.products %>



<div class="fixed-bottom"><%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %></div>


