<div class="row">
    <div class="col-12 col-md-6">
      <% if @product.rich_text_body.present? %>
        <div class="p-3 bg-light text-primary text-justify rounded border shadow-sm lead">
          <h5 class="text-center">Descripción de servicios.</h5><hr>
          <%= @product.rich_text_body %>
        </div>
        <% end %>
      </div>
    <div class="col-12 col-md-6">
      
      <% if @product.latitude && @product.longitude %>
      <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@product.latitude},#{@product.longitude}&markers=#{@product.latitude},#{@product.longitude}&zoom=15&size=640x400&key=#{ENV['google_maps_api_key']}",
          class: 'img-fluid img-rounded', alt: "#{@product.address} en el mapa"%>
      <% end %>
    </div>
  </div>