
<div class="text-center bg-white">
  <% if user_signed_in? && current_user == @product.user %>
    <a class="btn btn-outline-primary" data-toggle="modal" data-target="#modal_header">
      <i class="fas fa-edit"></i> Editar header
    </a>
  <% end %>
</div>
<div class="justify-content-center">
    <%= image_tag @product.img.thumb.url, class:'rounded img-fluid d-block text-center mx-auto shadow-sm' %>
  </div>
  <blockquote class="blockquote text-center">
    <h2 class="text-center shadow-text titulo mt-3"><%= @product.title.upcase %></h2>


    <% if @product.info.present? %>
    <footer class="blockquote-footer">
      <%= @product.info %>
    </footer>
    <% end %>

  </blockquote>

  <div class="row text-center">
    <div class="col">
        <span class="badge badge-success"><%= @product.visits_count %></span> Visitas
      <hr>
    </div>
  </div>